*{
    margin: 0px;
    box-sizing: border-box;
    
}

/* HEADER */

header{
width: 80%;
height: 400px;
margin: auto;
margin-top: 50pX;
border: 3px solid black;
border-top-left-radius: 40px;
border-top-right-radius: 40px;

background-image: url(img/original-london-sightseeing-tour-24-ore.jpg);
background-repeat: no-repeat;
background-size: 101% 140%;
background-position: 0px -70px;
/* max-width: 150%; */
}


header h1{
    text-indent: -9999px;
}
header img{
  width: 620px;
    margin: auto;
display: block;
    position: relative;
    top: 50px;
    left: 40px;
    /* max-width: 150%; */
        
}

/* TABELLA 2.0 ................*/

/* dimensioni */
#table_container{
    width: 80%;
    margin: auto;
}

.table_0grid_container{
    width:16% ;
    height: 655px;
    float: left;
   }

.table_1grid_container,
.table_2grid_container,
.table_3grid_container{
    width: 28%;
    height: 655px;
    float: left;
 }

.table_0grid{
    width:100% ;
    height: 100%;
}

.table_1grid,.table_2grid,.table_3grid{
    width: 100%;
    height: 100%;
}

/* spaziatura */

table{
    float: left;
    z-index:-1;
    border-spacing: 0px;
    border-collapse:collapse ;
    border-bottom: 1px solid  rgb(56, 10, 75);

    
}

/* bordi */

.table_0grid{
    padding-left: 2px;
    border-left: 1px solid  rgb(56, 10, 75);
    border-bottom: 1px solid  rgb(56, 10, 75);
    border-bottom-left-radius: 15px;
   
}
.table_3grid{
    border-right: 1px solid  rgb(56, 10, 75);
    border-bottom: 1px solid  rgb(56, 10, 75);
    border-bottom-right-radius: 15px;
}

/* h thead... */

table thead tr{
    background-color: rgb(159, 101, 235);
    color:  rgb(252, 230, 176);
    font-family: 'Economica', sans-serif;
    font-size: 30px;
    text-shadow: 0px 1px  rgba(76, 15, 104, 0.829) ;
    height: 40px;
    border-bottom: 1px solid rgb(56, 10, 75);
       
}
table thead tr:first-child{
    background-color: hsl(246, 23%, 40%);}

.table_0grid thead tr:last-of-type{
   height: 85px;
}

.dollar{
    height: 85px;
    font-size: 52px;
}

.dollar span{
    font-size: 58px;
 }
 .dollar::after{
    content: ",00";
    font-size: 42px;  
 }

 span{
    color:rgb(241, 198, 78);
 }


 /* tbody */

table tbody tr{
    background-color: hsl(0, 0%, 95%,0.5);
    font-family: 'Alegreya SC', serif;
    font-size: 24px;
}
table tbody td{
    padding: 10px 0px 10px 20px;
}

table tbody tr:nth-child(2n){
    background-color: hsl(0, 0%, 89%, 0.5);
}

tbody tr:nth-of-type(-n+2){
    height: 60px;
}

tbody tr:last-of-type{
       height: 200px;
}

.table_0grid tbody td{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.table_2grid tbody tr{
    background-color: hsla(0, 0%, 98%, 0.5);
       font-family: 'Alegreya SC', serif;
   }
   
   .table_2grid tbody tr:nth-child(2n){
       background-color: hsl(0, 0%, 92%,0.5);}

/* star ..................*/

td.link{  
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    }
    
    .star{
        display: inline;
    }
    
    span.star::before{
        content: url(img/star.png);
    }

/* tfoot */

 table button{
    background-color: rgb(241, 198, 78);
    padding: 3px 20px;
    border:1px outset  rgb(241, 198, 78);
    border-radius: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 26px;
 }

 table tfoot tr{
    height: 70px;
    border-top: 1px solid rgb(172, 171, 169);
    border-bottom: 1px solid rgb(172, 171, 169);
    background-image: linear-gradient(hsl(0, 0%, 97%), hsl(0, 0%, 87%));
    

 }

section{
    width: 100px;
    height: 100px;
}

/* hover ........... */

.table_1grid:hover,
.table_2grid:hover,
.table_3grid:hover{
    width: 110%;
    height: 700px;
    z-index: 2;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.562);
    position: relative;
    top: -10px;       
}


.table_1grid:hover::after{
   background: linear-gradient(to top, rgba(255,255,255,0)70%,
           rgba(221, 221, 221, 0.547)), url(img/L1.jpg);
}


.table_2grid:hover::after{
     background: linear-gradient(to top, rgba(255,255,255,0)70%,
              rgba(221, 221, 221, 0.547)), url(img/L2.jpg);
    
     }
     .table_3grid:hover::after{
     background: linear-gradient(to top, rgba(255,255,255,0)70%,
     rgba(221, 221, 221, 0.547)), url(img/L3.jpg);  
     }

.table_1grid:hover::after,
.table_2grid:hover::after,
.table_3grid:hover::after{
       content: "";
       z-index: -2;
        position: absolute;
       top: 120px;
       left: 0;
       width: 100%;
       height: 510px;
       background-repeat: no-repeat;
       background-size: 121.8%;
       background-position:-40px 0px ;    
     }
  





